nunito-sans-regular - latin
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-sans-600 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/nunito-sans-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-sans-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-sans-800 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/nunito-sans-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-sans-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-sans-900 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/nunito-sans-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-sans-v12-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1321px;
}
header {
    padding: 23px 80px 24px 81px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*********** section part start ************** */
section {
    padding-top: 48px;
    margin-bottom: 48px;
}
.search_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}
.search_class {
    width: 480px;
    background-image: url("/images/icon-search-black.svg");
    background-position: 30px center;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-top: 19px;
    padding-bottom: 19.5px;
    padding-left: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    outline: none;
    border: none;

}
.search_class::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #848484;
}
select {
    width: 200px;
    height: 56px;
    padding: 18px 22px;
    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    outline: none;
    border: 0px;
}
/************ start flag box ***************/
.flag-country{
}
.country-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 63px;
}
.country-item{
    overflow: hidden;
    list-style: none;
    width: 264px;
    height: 336px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 8px;
}
.small_box-flag {
    display: flex;
}
.country-item > h4, p {
    margin-left: 24px;
}
.country-item h4{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #111517;
}
.country-item p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #111517;
}

